{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
  {{ welcomeMsg }}
  {{ error }}

  <div class="mx-10 my-8 font-semibold text-lg">List of Territories</div>

  <div class="ml-10 flex flex-row">
    <div id="test" class="block ml-10">
      {% set territories = territories %}
      {% macro render_tree(territories) -%}
        {% for key, value in territories.items() %}
          <ul>
              <li>{{ key }}</li>
              {% if value %}
                  {{ render_tree(value) }}
              {% endif %}
          </ul>
        {% endfor %}
      {%- endmacro %}
      {{ render_tree(territories) }}
    </div>
  </div>

{% endblock %}

</html>
